@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Define the flash animation */
@keyframes flash {
  0% {
    background-color: initial;
  }
  50% {
    background-color: greenyellow; /* The color of the flash */
  }
  100% {
    background-color: initial;
  }
}

/* Add a class to apply the animation */
.flash {
  animation: flash 0.5s ease-in-out; /* Change the duration as needed */
}